<mat-toolbar color="accent" class="mat-elevation-z4">
  <span>
    <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">
      <a href="/">{{title}}</a>
    </span>
  </span>
  <span class="spacer"></span>
  <button mat-mini-fab color="primary" (click)="onAvatarClick()">
    <mat-icon *ngIf="loggedIn">person</mat-icon>
    <mat-icon *ngIf="!loggedIn">person_outline</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 64px);" class="mat-elevation-z4">
  <mat-sidenav #sidenav mode="side" opened>
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active"><mat-icon>{{link.icon}}</mat-icon> {{link.title}}</a>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>

<div class="container-fluid">
   <router-outlet></router-outlet>
</div>
